<p>
  <b>Label:</b>
  <%= @task.label %>
</p>

<p>
  <b>Desc:</b>
  <%= @task.desc %>
</p>

<h4>Subtasks</h4>

<table>
  <tr>
    <th>#ID</th>
    <th>Label</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subtasks.each do |task| %>
  <tr>
    <td><%= task.id %></td>
    <td><%= task.label %></td>
    <% tp, tc = task.parent, task.children.count %>
    <td><%= link_to "View(#{tc})", task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
