<div id="subtasks_desc" > 
  <% unless @subtasks.empty? %>
    <span class='task_id'>Subtasks</span>
    <ul>
      <% @subtasks.each do |task| %> 
        <% tp, tc = task.parent,	task.children.count %> 
        <li>
        <span</span>
        <abbr title="<%= task.desc %>"><span style="width: 20%;"><%= task.label %></span></abbr>
        <span style="float:right;">
          <%= link_to "#{tc} subtasks", task %>
          <%= link_to 'edit', edit_task_path(task) %>
          <%= link_to 'delete', task, :confirm => 'Are you sure?', :method => :delete %></span>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>


