<h2>Task view</h2>
<p id="notice"><%= notice %></p>

<%= render 'task_desc' %>
<br/>
<%= render 'subtasks_desc' %>

<br/>
<%= link_to 'New Task', new_task_path(:task_id => @task.id) %>

<br/>
<%= link_to 'Home', tasks_path %>

<br/>
<% if @task.parent.nil? %>
	<%= link_to 'Back', tasks_path %>
<% else %>
	<%= link_to 'Back', task_path(@task.parent) %>
<% end %>



